{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="my-3">List</h1>
    <div class="row">
    {% for item in object_list %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src='{{ item.image.url }}' class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ item.id }}</h5>
                    <p>latitude: {{ item.latitude }}</p>
                    <p>longitude: {{ item.longitude }}</p>
                    <p>upload: {{ item.upload_at }}</p>
                    <a href="{% url 'isbs:delete' item.pk %}" class="btn btn-dark">削除</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <h2 class="my-3">距離を図りたい地点を2つ選んでください</h2>
    <form class="" method="POST" action="">
        {% csrf_token %}
        {% for item in object_list %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="checks[]" id="inlineCheckbox{{ item.id }}" value="{{ item.id }}">
            <label class="form-check-label" for="inlineCheckbox{{ item.id }}">{{ item.id }}</label>
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit" onclick="check()">送信</button>
    </form>
</div>
{% endblock content %}